* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

:root {
    /* primary */
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* neutral */
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--mainBG);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

main {
    width: 90%;
    max-width: 350px;
    background-color: var(--cardBG);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    border-radius: 10px;
}

.container {
    width: 90%;
}

.header-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--cyan);
}

.main-img {
    width: 100%;
    border-radius: 10px;
}

.eye-img {
    position: absolute;
    opacity: 0;
}

.header-img-container:hover {
    cursor: pointer;
}

.header-img-container:hover .main-img {
    opacity: .5;
}

.header-img-container:hover .eye-img {
    opacity: 1;
}

.description {
    font-size: 0.95rem;
    padding-bottom: 1rem;
}

.description span {
    display: block;
    color: var(--softBlue);
    font-weight: 300;
}

h1 {
    color: var(--white);
    padding-top: 1rem;
    font-size: 1.3rem;
    padding-bottom: 0.7rem;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.eth img {
    width: 0.5rem;
}

.clock img {
    width: 0.8rem;
}

.eth span {
    color: var(--cyan);
    font-size: 0.96rem;
}

.clock span {
    color: var(--softBlue);
    font-size: 0.96rem;
}

.profile {
    border-top: 1px solid var(--line);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
}

.profile img {
    width: 10%;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.profile p {
    display: inline;
    position: absolute;
    top: 1.7rem;
    padding-left: 1rem;
    color: var(--softBlue);
}

.profile p span {
    color: var(--white)
}

h1:hover,
.profile p span:hover {
    color: var(--cyan);
    cursor: pointer;
}

.attribution {
    font-size: 0.7rem;
    padding-top: 2rem;
}

@media screen and (max-width:330px) {
    .description {
        font-size: 0.9rem
    }
    .info span {
        font-size: 0.8rem;
    }
    .profile p {
        font-size: 0.8rem;
    }
    .attribution {
        font-size: 0.6rem;
    }
}
